.modal_backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .modal_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .modal {
            display: flex;
            border: orange;
            border-radius: toRem(10);
            background-color: $main_color;
            padding: toRem(35) toRem(35);

            form {
                display: flex;
                flex-direction: column;
                gap: toRem(12);

                input {
                    padding: toRem(6) toRem(12);
                    border-radius: toRem(10);
                    border-color: $accent_color !important;

                    &:focus {
                        outline: none;
                    }
                }
            }

            &__buttons_container {
                display: flex;
                justify-content: space-between;
                margin-top: toRem(10);

                button {
                    border-width: 0;
                    border-radius: toRem(10);
                    padding: toRem(10) toRem(20);

                    p {
                        color: $main_color;
                    }

                }

                button:first-child {
                    background-color: #F63F3F;
                }

                button:last-child {
                    background-color: $accent_color;
                }
            }
        }
    }
}