.main_content_container {
    flex: 1;
    background-color: $main_color;
    padding-top: toRem(30);

    &_header {
        display: flex;
        justify-content: space-between;
        padding: 0 toRem(34) toRem(34) toRem(34);
        background-color: $main_color;

        &__user_input_container {
            display: flex;
            gap: toRem(26);

            div {
                display: flex;
                border: 2px solid $accent_color;
                border-radius: toRem(10);
                padding-left: toRem(20);
                padding-right: toRem(20);

                &:focus-within {
                    box-shadow: 0 0 4px 5px rgba(64, 77, 97, 0.2)
                }

                input {
                    padding-left: toRem(13);
                    padding-right: toRem(13);
                    appearance: none;
                    border: none;
                    font-weight: 400;
                    font-size: toRem(15);
                    font-family: 'Roboto';
                    color: rgba(64, 77, 97, 1);
                    caret-color: $accent_color;


                    &:focus {
                        outline: none;
                    }
                }

                img {
                    width: toRem(24);
                }
            }

            button {
                padding: toRem(8) toRem(20);
                background-color: $accent_color;
                border: none;
                border-radius: 10px;

                p {
                    font-weight: normal;
                    font-size: toRem(16);
                    color: $main_color;
                }
            }
        }
    }
}